@font-face {
  font-family: 'arbutus_slabregular';
  src: url('/_ass/v1/font/arbutusslab-regular.eot');
  src: url('/_ass/v1/font/arbutusslab-regular.eot?#iefix') format('embedded-opentype'), url('/_ass/v1/font/arbutusslab-regular.woff') format('woff'), url('/_ass/v1/font/arbutusslab-regular.ttf') format('truetype'), url('/_ass/v1/font/arbutusslab-regular.svg#arbutus_slabregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensans';
  src: url('/_ass/v1/font/opensans-regular.eot');
  src: url('/_ass/v1/font/opensans-regular.eot?#iefix') format('embedded-opentype'), url('/_ass/v1/font/opensans-regular.woff') format('woff'), url('/_ass/v1/font/opensans-regular.ttf') format('truetype'), url('/_ass/v1/font/opensans-regular.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensans';
  src: url('/_ass/v1/font/opensans-semibold.eot');
  src: url('/_ass/v1/font/opensans-semibold.eot?#iefix') format('embedded-opentype'), url('/_ass/v1/font/opensans-semibold.woff') format('woff'), url('/_ass/v1/font/opensans-semibold.ttf') format('truetype'), url('/_ass/v1/font/opensans-semibold.svg#open_sansregular') format('svg');
  font-weight: bold;
  font-style: normal;
}
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  border: 0;
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
audio,
canvas,
video {
  display: block;
}
html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  font-size: 100%;
  min-height: 100%;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a img,
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
li {
  list-style-type: none;
}
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: 100%;
  line-height: normal;
  vertical-align: baseline;
}
button,
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
pre,
code {
  font-family: monospace,monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
}
body {
  color: #444;
  font-family: 'opensans', 'Helvetica Neue', 'sans serif';
  font-weight: normal;
  margin: 0 auto;
  max-width: 60rem;
}
a {
  color: #23397A;
  text-decoration: none;
}
a:hover {
  color: #888;
}
time {
  color: #aaa;
  display: block;
  font-size: 0.875rem;
  line-height: 1.75rem;
  margin-bottom: 1.75rem;
  text-align: center;
}
footer {
  clear: both;
  color: #aaa;
  font-size: 0.875rem;
  line-height: 1.75rem;
  padding: 2rem;
  text-align: center;
}
header #logo {
  background: url(/_ass/v1/image/logo.png) no-repeat;
  display: inline-block;
  height: 2.5rem;
  margin: 2rem 0 1rem;
  text-indent: -999rem;
  width: 30rem;
}
header h1 {
  float: left;
}
header .motto {
  background: #222;
  color: #fff;
  float: right;
  font-size: 0.75rem;
  margin-top: 2rem;
  padding: 0.25rem 1rem;
}
h1,
h2,
h3 {
  color: #222;
  font-family: 'arbutus_slabregular', 'serif';
  line-height: 1.75rem;
}
h1 {
  font-size: 1.5rem;
  padding: 0.75rem 0 1rem;
}
h2 {
  font-size: 1.5rem;
  padding: 0.75rem 0 1rem;
}
h3 {
  font-size: 1.0625rem;
  padding: 0.75rem 0 1rem;
}
p,
ol,
ul,
blockquote,
pre,
table {
  line-height: 1.75rem;
  margin-bottom: 1.75rem;
}
p img {
  margin-bottom: 0;
}
ul li:before {
  content: "\25CF";
  padding-right: 0.5rem;
}
ol {
  counter-reset: counter;
}
ol li {
  padding-left: 1.5rem;
  position: relative;
}
ol li:before {
  content: counter(counter) ". ";
  counter-increment: counter;
  left: 0;
  position: absolute;
}
p + ul,
p + ol {
  margin: -0.5rem 0 2.25rem;
}
blockquote {
  border-left: 0.1875rem solid #222;
  color: #444;
  font-size: 1rem;
  padding-left: 1.5rem;
}
blockquote p,
blockquote ol,
blockquote ul {
  margin: 0;
}
code {
  color: #888;
  display: inline;
  font-family: monospace;
  line-height: 1rem;
  margin: 0 0.125rem;
  padding: 0.125rem 0.25rem;
}
pre {
  background: #f7f7f7;
  border-left: 0.1875rem solid #222;
  display: block;
  margin-bottom: 1.75rem;
  overflow: auto;
  padding: 0.875rem 1rem;
}
pre code {
  border: none;
  margin: 0;
  padding: 0;
}
pre p,
pre ol,
pre ul {
  margin-bottom: 0;
}
table {
  background: #eee;
  font-family: 'Andale Mono', 'Courier New', Courier, monospace;
  font-size: 0.875rem;
}
td,
th {
  border: 0.0625rem solid #888;
  padding: 0.875rem 0.25rem 0.8125rem;
  text-align: center;
  width: 1%;
}
th {
  font-weight: normal;
  text-transform: uppercase;
}
tr:last-child td {
  padding: 0.875rem 0.25rem;
}
sup {
  display: inline-block;
  font-size: 0.625rem;
  margin-top: -0.75rem;
  vertical-align: middle;
}
#home section {
  float: left;
  padding-right: 4rem;
  width: 40rem;
}
#home aside {
  background: #f7f7f7;
  float: left;
  padding: 0 2rem;
  width: 12rem;
}
#post section {
  float: left;
  padding-right: 4rem;
  width: 40rem;
}
#post aside {
  background: #f7f7f7;
  float: left;
  padding: 0 2rem;
  width: 12rem;
}
@media screen and (min-width: 60em) {
  h1 {
    text-align: left;
  }
}
